@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.space-bet{
    justify-content: space-between;
}

.center{
    text-align: center;
}

/* HEADER */

nav{
    background-color: dodgerblue;
}

.container{
    padding: 20px;
}

.fa-bars{
    font-size: 40px;
    color: white;
}

/* SECTION CARD DEMO APP*/


.container-demo{
    width: 80%;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
}

.cards-demo , .cards-demo1{
    background-color: rgb(199, 218, 252);
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 20px;
}

.cards-demo h2{
    color: dodgerblue;
    padding-bottom: 20px;
    text-align: center;
}

/*  TIPO CARD 1 */

.but{
    margin: 30px 0;
    text-align: center;
}

.but-appstore{
    background-color: dodgerblue;
    color: white;
    border-radius: 25px;
    border: 1px solid dodgerblue;
    padding: 10px 10px;
    width: 65%;
    font-size: 18px;
}

.fa-apple{
    padding-right: 5px;
}

.phone-img img{
    height: 230px;
    display: block;
    margin: auto;
}



/* TIPO CARD 2 */

.icons-card .fa-solid{
    color: dodgerblue;
    font-size: 80px;
    padding-bottom: 20px;
}

/*  SECTION STRATEGIC PLANNING */

.container-plan{
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    background-color: #9792E4;
    padding: 35px;
    line-height: 35px;
}

.img-plan img{
    height: 230px;
}

.img-plan{
    padding: 50px 20px;
}

.text-plan{
    color: white;
    font-size: 20px;
}

.text-plan h1{
    font-size: 40px;
    padding-bottom: 30px;
}

/* CARD APP DEVELOPEMENT */

.card-appdev{
    background-color: white;
    border-radius: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

.img-appdev img{
    height: 200px;
}

.text-appdev p{
    font-size: 22px;
    padding: 20px 0;
}

.but-card{
    border-radius: 50%;
    font-size: 20px;
    background-color: #9792E4;
    padding: 15px 20px;
    border: 1px solid #9792E4;
}

/* SECTION TESTIMONIALS */

.container-testim{
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    padding: 35px;
    line-height: 35px;
}

.text-testim h3{
    padding-bottom: 30px;
}

#purple-text{
    color: #9792E4;
    font-size: 35px;
    font-weight: bold;
}

.text-testim p{
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* CARD TESTIMONIANZE */
.card-testim{
    background-color: #9792E4;
    border-radius: 60px;
    width: 80%;
    margin: auto;
    flex-direction: column;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

.test{
    width: 200px;
    height: 200px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 50%;
    background-position: center;
}

.testim1{
    background-image: url("../img/testimonial1.jpg");
}

.testim2{
    background-image: url("../img/testimonial2.jpg");
}

.testim3{
    background-image: url("../img/testimonial3.jpg");
}

.p-card{
    padding-top: 20px;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.p-card .fa-solid{
    padding: 5px;
}

.p-card :nth-child(2){
    padding-top: 20px;
    font-weight: bold;
}

/* SECTION BENEFITS */

.container-benefits{
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    background-color: #9792E4;
    padding: 35px;
    line-height: 35px;
}

.text-ben p{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

/* CARD BENEFITS*/

.card-ben{
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
}

.t-viol{
    color: #9792E4;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

.t-viol2{
    color: #9792E4;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.text-card-ben :nth-child(3){
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    color: grey;
}

.but-ben{
    background-color: #9792E4;
    border: 1px solid #9792E4;
    color: white;
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    font-size: 18px;
    margin-bottom: 10px;
}

/* SECTIIOM ABOUT US*/

.container-ab-us{
    margin: auto;
    flex-direction: column;
    margin-top: 30px;
    padding: 35px;
    line-height: 40px;
}

.p-2{
    font-size: 20px;
    padding-bottom: 30px;
}

/* CARD ABOUT US */

.card-ab-us{
    padding-top: 30px;
    position: relative;
}

.img-ab-us{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    background-position: center;
    background-image: url("../img/about.jpg");
}

.but-ab-us{
    background-color: #9792E4;
    color: white;
    border: 1px solid #9792E4;
    border-radius: 20px;
    min-width: 60%;
    margin-top: 20px;
    padding: 5px;
    font-size: 18px;
}

.fa-linkedin{
    padding-right: 10px;
    font-size: 18px;
}

.card-ab-us .fa-quote-left{
    color: #9792E4;
    font-size: 80px;
    position: absolute;
    top: 0;
    right: 140px;
}

/* SECTION GET STARTED */

.container-start{
    margin: auto;
    margin-top: 60px;
    background-color: #9792E4;
    padding: 60px 35px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.text-start h3{
    color: #c2c0e6;
}

.text-start :nth-child(2){
    font-size: 40px;
    font-weight: bold;
    padding: 30px 0;
}
.text-start :nth-child(3){
    color: rgb(234, 180, 44);
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}
.text-start :nth-child(4){
    font-size: 18px;
    padding-bottom: 30px;
}

.but-start{
    background-color: white;
    border: 1px solid white;
    color: #9792E4;
    padding: 20px;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 40px;
}

a{
    text-decoration: underline;
}

/* FOOTER */

footer{
    flex-direction: column;
    margin: auto;
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 40px 0;
}

.footer-text{
    font-size: 18px;
}

.text1{
    margin-bottom: 50px;
}

.text2 a{
    color: #9792E4;
}

/* LAYOUT TABLET */

@media screen and (min-width: 768px){
    .container-demo{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }

    .container-demo > .cards-demo1{
       width: calc(62% + 0.5rem);
       margin: 8px;
    }

    .cards-demo{
        width: calc(33% - 1rem);
        margin: 8px;
    }

    .cards-demo1{
        text-align: left;
    }

    .img-plan img{
        width: 500px;
        height: 500px;
    }

    .but{
        text-align: left;
    }

    .phone-img img{
        margin: 0;
    }

    .img-appdev img{
        height: 400px;
    }

    #purple-text{
        font-size: 45px;
    }

    .card-testim{
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 50px 0px;
        border-radius: 40px;
    }

    .p-card{
        font-size: 13px;
        line-height: normal;
    }

    .test{
        margin: auto 10px;
        width: 160px;
        height: 100px;
        background-size: cover;
        margin-left: 10px;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
    }

    .card-ben{
        width: calc(100% / 2 - 30px);
        margin-top: 30px;
        padding: 20px 30px;
    }

    .text-card-ben :nth-child(3){
        padding-bottom: 20px;
        font-size: 15px;
    }

    .but-start{
        width: 40%;
    }

    .container-ab-us{
        flex-direction: row;
        justify-content: space-around;
    }

    .text-ab-us{
        width: 50%;
    }

    .card-ab-us{
        width: 30%;
    }

    .but-ab-us{
        padding: 5px 10px;
    }

    .card-ab-us .fa-quote-left{
        right: 0;
    }
   
}

/* LAYOUT LAPTOP */
@media screen and (min-width: 1024px){
    .but-start{
        width: 30%;
    }

    .cards-demo1{
        display: flex;
    }

    .cards-demo{
        width: calc(33% - 1.5rem);
    }

    .phone-img img{
        margin-top: 120px;
    }

    .text-card-demo{
        padding-bottom: 20px;
    }

    .card-ab-us .fa-quote-left{
        right: 70px;
    }

    .card-ben{
        width: calc(100% / 3 - 20px);
        margin-top: 20px;
    }

    .text-card-ben :nth-child(3){
        padding-bottom: 20px;
        font-size: 13px;
    }

    .test{
        width: 180px;
        height: 150px;
    }
}

    

