@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* utility */

.flex{
    display: flex;
}

.space-bet{
    justify-content: space-between;
}

.center{
    text-align: center;
}

/* HEADER */

nav{
    background-color: dodgerblue;
}

.container{
    padding: 20px;
}

.fa-bars{
    font-size: 40px;
    color: white;
}

/* SECTION CARD DEMO APP*/

main{
    width: 480px;
    height: 778px;
}

.container-demo{
    width: 80%;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
}

.cards-demo{
    background-color: rgb(199, 218, 252);
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 20px;
}

.cards-demo h2{
    color: dodgerblue;
    padding-bottom: 20px;
    text-align: center;
}

/*  TIPO CARD 1 */

.but{
    margin: 30px 0;
}

.but-appstore{
    background-color: dodgerblue;
    color: white;
    border-radius: 25px;
    border: 1px solid dodgerblue;
    padding: 10px 10px;
    width: 65%;
    font-size: 18px;
}

.fa-apple{
    padding-right: 5px;
}

.phone-img img{
    height: 300px;
}

/* TIPO CARD 2 */

.icons-card .fa-solid{
    color: dodgerblue;
    font-size: 80px;
    padding-bottom: 20px;
}

/*  SECTION STRATEGIC PLANNING */

.container-plan{
    width: 100%;
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    background-color: #9792E4;
    padding: 35px;
    line-height: 35px;
}

.img-plan img{
    height: 350px;
}

.img-plan{
    padding: 80px 20px;
}

.text-plan{
    color: white;
    font-size: 20px;
}

.text-plan h1{
    font-size: 40px;
    padding-bottom: 30px;
}

/* CARD APP DEVELOPEMENT */
